{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="{% static 'img/favicon.svg' %}" rel="icon">
    <title>Pulso Digital | Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>

<body>
    <div class="left-section"></div>

    <div class="right-section">
    <div class="login-container">
        
        <h2 class="titulo-reset">
            <span class="pulso">PULSO</span> <span class="digital">DIGITAL</span>
        </h2>
        
        <p class="texto-negrita">¿Olvidaste tu contraseña?</p>
        <p class="texto-chico-gris">Ingresá el email con el que te registraste y te enviaremos los pasos a seguir para generar una nueva contraseña</p>

    {% if messages %}
    <div class="error-messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group2">
                <input type="email" name="email" placeholder="Email*" required />
            </div>

            <button type="submit" class="login-btn">CONTINUAR</button>
        </form>

    <p class="terminos-text">
    Al continuar, confirmo que he leído y aceptado los 
    <span class="enlace-legal">Términos y Condiciones</span> y las 
    <span class="enlace-legal">Políticas de Privacidad</span> de 
    <strong>PULSO DIGITAL</strong>.
    </p>
    
</div>
</body>
</html>