<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>password_reset_confirm</h1>

    <section>
        <h2>Reestablecer contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Reestablecer contraseña</button>
        </form>
    </section>
</body>
</html>
-->

{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password-Reset-Confirm - Pulso Digital</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
</head>

<body>
    <div class="left-section"></div>

    <div class="right-section">
    <div class="login-container">
        
        <h2 class="titulo-reset">
        <span class="pulso">PULSO</span> <span class="digital">DIGITAL</span>
        </h2>
        
        <h2 class="texto-negrita">Reestablecer tú contraseña</h2>

        <p class="titulo-contraseña">Crea una contraseña segura</p>
        <p class="descripcion-contraseña">Crea una contraseña nueva y segura que no uses en otros sitios web</p>


    <form method="post">
        {% csrf_token %}
        <div class="form-group2">
            <input type="text" name="username" placeholder="Nueva Contraseña*" required />
        </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group2">
            <input type="text" name="username" placeholder="Confirma*" required />
        </div>


    {% if messages %}
    <div class="error-messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

        <button type="submit" class="login-btn">GUARDAR CONTRASEÑA</button>
        </form>


    
</div>
</body>

</html>