<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS | DETALLE</title>
</head>
<body>
    <hr>
    <h1>NOTICIA</h1>
    <hr>
    <br><br><br><br>

    <div>
        {% if imagen %}
            {% for img in imagen %}
                <img src="{{ img.imagen.url }}" alt="Imagen de la noticia">
            {% endfor %}
            {% else %}
                <p>No hay imagen disponible</p>
            {% endif %}
    </div>

    <div>
        <small>Categorias: {{detalle.categorias.all|join:' '}}</small>
        <h2>{{detalle.titulo}}</h2>
        <p><strong>{{detalle.fecha}}</strong> | Escrita por: {{detalle.autor}}</p>
        <p>{{detalle.contenido}}</p>
    </div>

</body>
</html>