{% extends 'base.html' %}
{% load static %}

{% block extra_css %}     
<link rel="stylesheet" href="{% static 'css/noticias.css' %}"> 
{% endblock %} 

{% block titulo %}Pulso Digital | Editar noticia{% endblock %}

{% block contenido %}
    <div class="container editar-noticia">
        <h1>EDITAR NOTICIA</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <label>Imágenes actuales:</label>
                <ul>
                    {% for imagen in noticia.imagenes.all %}
                    <li>
                        <img src="{{ imagen.imagen.url }}" width="100px">
                        <label>
                            <input type="checkbox" name="eliminar_imagenes" value="{{ imagen.id }}">
                            Eliminar
                        </label>
                    </li>
                        {% endfor %}
                </ul>
                    <label>Si desea eliminar imágenes, marque eliminar al lado de cada imagen, al guardar los cambios se eliminarán.</label>
                    <br>
                    <label for="imagenes">Agregar imágenes nuevas:</label>
                    <input type="file" name="imagenes" multiple>

                    <button type="submit">Guardar Cambios</button>
            </form>
    </div>
{% endblock %}