{% extends 'base.html' %}
{% load static %}

{% block extra_css %}     
<link rel="stylesheet" href="{% static 'css/noticias.css' %}"> 
{% endblock %} 

{% block contenido %}
    <div class="container eliminar-noticia">
        <h1>¿Estás seguro que deseas eliminar la noticia?</h1>
        <hr>
        <p><strong>Nombre: </strong><small>{{noticia.titulo}}</small></p>
        <p><strong>Nombre: </strong><small>{{noticia.subtitulo}}</small></p>
        <p><strong>Descripcion: </strong><small>{{noticia.contenido}}</small></p>
        <p><strong>Autor: </strong><small>{{noticia.autor}}</small></p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </div>
{% endblock %}