{% load static %}
<!-- Ads Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Anuncio</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <p>
            <img class="img-fluid" src="{% static 'img/news-800x500-2.jpg' %}" alt="Anuncio publicitario">
        </p>
        <div class="mt-2">
            <small class="text-muted">Publicidad</small>
        </div>
    </div>
</div>
<!-- Ads End -->