<!-- Tags Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <!-- cargo categorias desde la base de datos -->
            {% for categoria in todas_las_categorias %}
            <a href="#" class="btn btn-sm btn-outline-secondary m-1">{{ categoria.nombre }}</a>
            {% empty %}
            <!-- y si no hay categorías en la BD -->
            <a href="#" class="btn btn-sm btn-outline-secondary m-1">Sin categorías</a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Tags End -->