{% load static %}

<!-- Popular News Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tendencias</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        {% for noticia in noticias_trending %}
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            {% if noticia.imagenes.first %}
                <img class="img-fluid" src="{{ noticia.imagenes.first.imagen.url }}" alt="" style="width: 110px; height: 110px; object-fit: cover;">
            {% else %}
                <img class="img-fluid" src="{% static 'img/news-110x110-1.jpg' %}" alt="">
            {% endif %}
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    {% for categoria in noticia.categorias.all %}
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{ categoria.nombre }}</a>
                    {% endfor %}
                    <a class="text-body" href=""><small>{{ noticia.fecha|date:"M d, Y" }}</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">{{ noticia.titulo|truncatechars:40 }}</a>
            </div>
        </div>
        {% empty %}
        <div class="text-center text-muted">
            <p>No hay noticias en tendencia en este momento.</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Popular News End -->