body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    flex: 2;
    background-image: url('../img/login_robot.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.right-section {
    flex: 1;
    background-color: #e0e0e0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.login-container {
    width: 100%;
    max-width: 360px;
    margin-top: -20px; 
}

.login-container h2 {
    text-align: center;
}

.pulso {
    color: #000000; 
}

.digital {
    color: #0284C7; 
}

.titulo-reset {
    margin-bottom: 8px;
    margin-top: -10px;
    font-size: 2.5rem;
}

.texto-negrita {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 1rem;
}

.texto-chico-gris {
    text-align: center;
    font-size: 1rem;
    color: #33363F;
    margin-top: 40px;
}

.form-group2 {
    margin: 12px 0;
    width: 100%;
    margin-top: 90px;
}

.form-group2 input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0089d0;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    margin-top: 20px;
    background-color: #0284C7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    margin-top: 30px;
}

.terminos-text {
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-top: 100px;
}

.enlace-legal {
    color: #0866FF;
    text-decoration: none;
    font-weight: normal;
}

.error-messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow-y: auto;
    }

    .left-section {
        height: 40vh;
        padding: 20px;
        align-items: flex-start;
        background-size: contain;
    }

    .right-section {
        padding: 20px;
        height: auto;
        min-height: 60vh;
    }
}
