body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    flex: 2;
    background-image: url('../img/login_robot.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.right-section {
    flex: 1;
    background-color: #e0e0e0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.login-container {
    width: 100%;
    max-width: 360px;
    margin-top: -40px; 
}

.login-container h2 {
    text-align: center;
}

.pulso {
    color: #000000; 
}

.digital {
    color: #0284C7; 
}

.titulo-reset {
    margin-bottom: 8px;
    margin-top: -60px; 
    font-size: 2.5rem;
}

.correo-img {
    display: block;
    margin: 20px auto;
    max-width: 70px;
}

.texto-negrita {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 1.2rem;
}

.texto-chico-gris {
    text-align: center;
    font-size: 1rem;
    color: #121213;
    margin-top: 40px;
}

.error-messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
}

.login-btn {
    margin-top: 100px;
    background-color: #0284C7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow-y: auto;
    }

    .left-section {
        height: 40vh;
        padding: 20px;
        align-items: flex-start;
        background-size: contain;
    }

    .right-section {
        padding: 20px;
        height: auto;
        min-height: 60vh;
    }
}
