{% extends "base.html" %}
{% load static %}

{% block contenido %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- Main News Slider Start -->
<div class="container-fluid">
    <div class="row noticia-card-especial">
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">
                {% if noticia_principal %}
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    {% if noticia_principal.imagenes.first %}
                    <img class="img-fluid h-100" src="{{ noticia_principal.imagenes.first.imagen.url }}" style="object-fit: cover;">
                    {% else %}
                    <img class="img-fluid h-100" src="{% static 'img/robot01.jpeg' %}" style="object-fit: cover;">
                    {% endif %}
                    <div class="overlay">
                        <div class="mb-2">
                            {% for categoria in noticia_principal.categorias.all %}
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{ categoria.nombre }}</a>
                            {% endfor %}
                            <a class="text-white" href="">{{ noticia_principal.fecha|date:"M d, Y" }}</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{% url 'apps.noticias:detalle_noticia' noticia_principal.noticia_id %}">{{ noticia_principal.titulo|truncatechars:80 }}</a>
                        
                        <div class="mt-2">
                            <span class="text-white">
                                <i class="far fa-comment ml-3 mr-1"></i>{{ noticia_principal.comentarios.count|default:"0" }}
                            </span>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    <div class="col-lg-5 px-0">
        <div class="row mx-0">
            {% for noticia in noticias_secundarias %}
            <div class="col-md-6 px-0">
                <div class="position-relative overflow-hidden" style="height: 250px;">
                    {% if noticia.imagenes.first %}
                    <img class="img-fluid w-100 h-100" src="{{ noticia.imagenes.first.imagen.url }}" style="object-fit: cover;">
                    {% else %}
                    <img class="img-fluid w-100 h-100" src="{% static 'img/news-700x435-1.jpg' %}" style="object-fit: cover;">
                    {% endif %}
                    <div class="overlay">
                        <div class="mb-2">
                            {% for categoria in noticia.categorias.all %}
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2 mb-1" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">{{ categoria.nombre }}</a>
                            {% endfor %}
                            <a class="text-white" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}"><small>{{ noticia.fecha|date:"M d, Y" }}</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">{{ noticia.titulo|truncatechars:40 }}</a>
                        
                        <div class="mt-1">
                            <small class="text-white">
                                <i class="far fa-comment mr-1"></i>{{ noticia.comentarios.count|default:"0" }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</div>

<!-- Main News Slider End -->

<!-- Breaking News Start -->
<div class="container-fluid bg-dark py-3 mb-3 noticia-card-especial">
    <div class="container">
        <div class="row align-items-center bg-dark">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="bg-primary text-white text-center font-weight-medium py-2" style="width: 170px;">
                        <i class="fas fa-bolt mr-2"></i>Última hora
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 170px); padding-right: 90px;">
                        {% for noticia in noticias_ultima_hora %}
                        <div class="text-truncate">
                            <a class="text-white text-uppercase font-weight-semi-bold" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">{{ noticia.titulo }}</a>
                        </div>
                        {% empty %}
                        <div class="text-white">No hay noticias recientes.</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breaking News End -->

<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3 noticia-card-especial">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">
                <i class="fas fa-star mr-2 text-warning"></i>Noticias Destacadas
            </h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            {% for noticia in noticias_destacadas %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                {% if noticia.imagenes.first %}
                <img class="img-fluid h-100" src="{{ noticia.imagenes.first.imagen.url }}" style="object-fit: cover;">
                {% else %}
                <img class="img-fluid h-100" src="{% static 'img/news-700x435-1.jpg' %}" style="object-fit: cover;">
                {% endif %}
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>{{ noticia.fecha|date:"M d, Y" }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">{{ noticia.titulo|truncatechars:50 }}</a>
                    
                    <div class="mt-1">
                        <small class="text-white">
                            <i class="far fa-comment mr-1"></i>{{ noticia.comentarios.count|default:"0" }} comentarios
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Featured News Slider End -->

<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-4">
                            <h4 class="m-0 text-uppercase font-weight-bold position-relative">
                                <i class="fas fa-newspaper mr-2 text-primary"></i>Últimas noticias
                            </h4>
                            <a class="text-secondary font-weight-medium text-decoration-none"
                                href="{% url 'apps.noticias:todas_las_noticias' %}">Ver todas</a>
                        </div>
                    </div>

                    {% for noticia in pagina_noticia %}
                    <div class="col-lg-6 mb-4">
                        <div class="news-card">
                            {% if noticia.imagenes.first %}
                            <img class="card-img" src="{{ noticia.imagenes.first.imagen.url }}"
                                alt="{{ noticia.titulo }}">
                            {% else %}
                            <img class="card-img" src="{% static 'img/news-700x435-1.jpg' %}"
                                alt="{{ noticia.titulo }}">
                            {% endif %}

                            <div class="card-content">
                                <div class="mb-3">
                                    {% for categoria in noticia.categorias.all %}
                                    <a class="category-badge" href="#">{{ categoria.nombre }}</a>
                                    {% endfor %}
                                    <div class="mt-2">
                                        <a class="text-body" href="#"><small><i class="far fa-calendar mr-1"></i>{{ noticia.fecha|date:"M d, Y"}}</small></a>
                                    </div>
                                </div>

                                <div class="card-title">
                                    <a class="h5 text-secondary text-uppercase font-weight-bold text-decoration-none"
                                        href="{% url 'apps.noticias:detalle_noticia' noticia.noticia_id %}">
                                        {{ noticia.titulo|truncatechars:60 }}
                                    </a>
                                </div>

                                <div class="card-subtitle">
                                    <p class="text-muted m-0">{{ noticia.subtitulo|truncatechars:100 }}</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="author-info">
                                        {% if noticia.autor.imagen_perfil %}
                                            <img src="{{ noticia.autor.imagen_perfil.url }}" alt="{{ noticia.autor.username }}"
                                                    class="img-fluid " style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover;">
                                            {% else %}
                                                <img src="{% static 'img/user-default.png' %}" alt="Avatar por defecto" class=""
                                                    style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover;">
                                            {% endif %}
                                        <small class="font-weight-medium">
                                            {{ noticia.autor.get_full_name|default:noticia.autor.username }}
                                        </small>
                                    </div>
                                    <div class="stats-info">
                                        <small class="ml-2">
                                            <i class="far fa-comment mr-1"></i>{{ noticia.comentarios.count|default:"0" }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Paginación  -->
                    <div class="col-12">
                        <div class="custom-pagination">
                            <div class="pagination-content">
                                {% if pagina_noticia.has_previous %}
                                <a href="?page={{ pagina_noticia.previous_page_number }}" class="pagination-btn">
                                    <i class="fas fa-chevron-left"></i>
                                    Anterior
                                </a>
                                {% else %}
                                <span class="pagination-btn disabled">
                                    <i class="fas fa-chevron-left"></i>
                                    Anterior
                                </span>
                                {% endif %}

                                <div class="pagination-info">
                                    <i class="fas fa-file-alt mr-1"></i>
                                    Página {{ pagina_noticia.number }} de {{ pagina_noticia.paginator.num_pages }}
                                </div>

                                {% if pagina_noticia.has_next %}
                                <a href="?page={{ pagina_noticia.next_page_number }}" class="pagination-btn">
                                    Siguiente
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                                {% else %}
                                <span class="pagination-btn disabled">
                                    Siguiente
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                {% include 'componentes/redes_sociales.html' %}
                <!-- Social Follow End -->

                <!-- Ads Start -->
                {% include 'componentes/anuncio.html' %}
                <!-- Ads End -->

                <!-- Popular News Start -->
                {% include 'componentes/tendencias.html' %}
                <!-- Popular News End -->

                <!-- Tags Start -->
                {% include 'componentes/tags.html' %}
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->

{% endblock %}