{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'img/favicon.svg' %}" rel="icon">
    <title>Pulso Digital | Registrarse</title>
</head>
<body>
    <h1>Registrarse en pulso digital</h1>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"> Registrarse </button>
        <p>Ya tienes una cuenta? <a href="{% url 'apps.usuarios:login' %}">Iniciar sesión</a></p>
    </form>
</body>
</html>